/*--------------
    username
--------------*/

#custom-user {
	padding-right: 12px;
}

/*----------------
    workspaces
----------------*/

#custom-left_div.1,
#custom-right_div.1 {
	color: @workspaces;
}
#workspaces {
	padding: 0 1px;
	background-color: @workspaces;
}
#workspaces button {
	padding: 0 8px;
	font-size: 16px;
}
#workspaces button.active,
#workspaces button.focused {
	color: @accent;
	font-weight: bold;
}
#workspaces button:hover {
	background-color: @hover-bg;
	border-radius: 8px;
}

/*------------------
    window title
------------------*/

#window {
	margin-left: 12px;
}
